<div class="liste-passagers">
    <div class="options">
        <mat-slide-toggle class="slide" [(ngModel)]="afficherPhotos" (change)="envoiAfficchagePhotos($event)" >Afficher les photos</mat-slide-toggle>
    </div>
    <div class="titre-grille">
        <div *ngIf="afficherPhotos">
            <p>Photo passager</p>
        </div>
        <p>Nom</p>
        <p>Classe</p>
        <p>Nombre de bagages</p>
    </div>
    <app-passager *ngFor="let passager of passagers" [passager]="passager" [afficherPhotos]="afficherPhotos"></app-passager>
</div>

