.vol-description {
    display: grid;
    grid-template-columns: repeat(5, 150px); 
    margin: 20px ; 
    align-items: center;
    justify-content: center;
    
}

.vol-aeroport{
    display: flex;
}

.vol-logo {
    width: 200px;
    margin-right: 10px;
}

.vol{
    cursor: pointer;
    padding: 2px;
}
.vol:hover {
    background-color: #f0f0f0;

}

.vol:active{
    background-color: #e0e0e0;
}