<div class="vol" (click)="SelectionVol()">
    <div class="vol-description">
        <div class="vol-icon-type">
            <mat-icon class="vol-type-icon" >
                {{volType === 'arrival' ? "flight_land" :
                "flight_takeoff"}}
            </mat-icon>
        </div>
        <p class="vol-icao-code">{{ vol.icao }}</p>
        <p class="vol-matricule">{{ vol.matricule }}</p>
        <div class="vol-aeroport">
            <p class="vol-depart">{{ vol.aeroportDepart }}</p>
            <div class="icon">
                <mat-icon>arrow_right_alt</mat-icon>
            </div>
            <p class="vol-arrivee">{{ vol.aeroportArrivee || "Inconnu"}}</p>
            
        </div>
        <img class="vol-logo" [src]="vol.lienImage">

    </div>
</div>