<div class="passager" >
    <div class="passager-description">

        <div *ngIf="afficherPhotos">
            <img [src]="passager.image" [alt]="passager.nom" class="passager-image">
        </div>
    
        <p class="passager-nom" matTooltip="{{ passager.email }}" >{{ passager.nom }}</p>
    
        <p class="passager-classe" [appClasseVol]="passager.classeVol">{{ passager.classeVol }}</p>
        <div class="passager-baggages" [ClasseVol]="passager.classeVol" [appBagages]="passager.nbBagagesSoute">
            <mat-icon class="passager-bagage-icon">work</mat-icon>
            <p class="passager-bagage-nombre">X{{ passager.nbBagagesSoute }}</p>
        </div>
    </div>
</div>