.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background: linear-gradient(135deg, #021a69 70%, #ff0000);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  height: 100%; /* Full viewport height */

  .title {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the title horizontally */
    margin: 20px 0 20px 0;

    h1 {
      margin: 0;
      font-size: 28px;
      font-weight: bold;
      color: #ffffff;
      text-align: center;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }

  .sections {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    height: 100%; 

    .left, .right {
      flex: 1;
      min-width: 45%; 
      height: calc(100% - 80px); 
      background: rgba(160, 145, 245, 0.349);
      backdrop-filter: blur(15px); 

      border: 4px solid #ffffff33;
      border-radius: 12px;
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
      overflow-y: auto; /* Enable vertical scrolling */
      padding: 20px;
    }

    .left .top, .left .bottom {
      overflow: auto;
    }
  }
}
