

.filtres-container {
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px;
  padding: 20px; // Ajout de padding pour un meilleur espacement interne
  border-radius: 8px; // Ajout de coins arrondis
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
              0 1px 3px rgba(0, 0, 0, 0.08); // Réduction de l'intensité des ombres
  background-color: #f9f9f9; // Couleur de fond légèrement grisée pour un contraste doux

  mat-form-field {
    width: 35%;
    margin: 0 10px; // Ajout d'espacement horizontal entre les champs

    .mat-form-field-wrapper {
      padding-bottom: 0px;
    }
  }

  .apply-button {
    background-color: $accent;
    color: white;
    padding: 10px 20px; // Ajout de padding pour un bouton plus grand
    border-radius: 4px; // Coins arrondis pour le bouton
    font-weight: bold; // Texte en gras pour le bouton
    transition: background-color 0.3s ease; // Animation de transition pour l'effet hover

    &:hover {
      background-color: darken($accent, 10%); // Couleur légèrement plus foncée au survol
    }
  }
}
