
mat-toolbar {
  display: flex;
  justify-content: space-between;
  background: #021a69;
  height: 80px;
  padding: 0;

  .logo {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #ffffff 40%, #0863f500);
    padding: 10px 20px;
    width: 400px;
    margin-right: 500px; 

    img {
      height: 60px;
    }
  }

  button {
    width: auto;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    border: none;
    margin: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  button:hover {
    background-color: rgb(5, 4, 80);
  }
}
