.liste-vols {
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 0 auto; /* Center the list horizontally */
    border-radius: 12px;
    width: 100%;
    max-width: 800px; /* Set a maximum width for better responsiveness */
}

.titre-grille {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    padding: 15px;
    background-color: #0214524f;
    border: 2px solid #ffffff33;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}